<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/index.css"></link>
        <title></title>
    </head>
    <body>
        <div id="viewport">
            <img style="width:400px">
            <div id="banner">here is the banner</div>
            <div id="title">Study Stars</div>
            <a href="signup">sdhjkfghkfsghkfdjg</a>
            <div id="ad" style="right:20vw;top:20vh;width:20vw;height:20vh;position:absolute">ad</div>
        </div>
    </body>
</html>
